<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        	<li><a href="/">Home</a></li>
 	        	<li><a href="/datasharing">Data Sharing</a></li>
+        		<li><a href="/spreadsheets">Spreadsheets</a></li>
         		<li><a href="/beginningsql">Beginning SQL</a></li>
         		<li><a href="/openrefine">OpenRefine</a></li>
         		<li><a href="/presentingdata">Presenting Data</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:amyhodge@stanford.edu">email</a></li>
	        		<li><a href="https://github.com/amyehodge">github.com/amyehodge</a></li>
				</ul>
			</footer>
		</body>
	</html>
